<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <center>
                <container>
                    <spacer size="18"></spacer>
                </container>
                <container class="no-bg">
                    <row>
                        <columns large="12" class="custom-pb">
                            <p class="mb text-center text-sm">[Download Free Ebook] XXXXXXXXXXX</p>
                            <container>
                                <spacer size="17"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
                <table class="container">
                    <tbody>
                    <tr>
                        <td>
                            <img src="http://layoutmain.esy.es/mail/img/main-letter.jpg" alt="Panaya">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <container>
                    <spacer size="14"></spacer>
                </container>
                <container>
                    <row>
                        <columns>
                            <h1 class="main-heading">Think Continuous Delivery Won't Work for
                                Enterprise Applications? Think Again.</h1>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                            <p class="main-body-p font_b">Are you being asked to meet more frequent release cycles without business disruption and application risk? If so, you must adopt a continuous delivery model.</p>
                            <p class="main-body-p">Continuous delivery is NOT for Internet companies and ISVs only. With the right methodologies and a designated platform, even
                                <a href="#" class="basic-link"> enterprise organizations can be agile. </a></p>
                        </columns>
                    </row>
                </container>
                <container class="row_picture">
                    <row>
                        <columns small="12" large="8">
                            <container>
                                <spacer size="10"></spacer>
                            </container>
                            <p class="main-body-p text-left">Read this White Paper to learn:</p>
                            <table class="list-table">
                                <tr>
                                    <td class="point">•</td>
                                    <td class="tab-p">What types of companies have successfully implemented continuous   delivery and why</td>
                                </tr>
                                <tr>
                                    <td class="point">•</td>
                                    <td class="tab-p">What is Enterprise Agile Delivery and how it supports innovation and   business strategy</td>
                                </tr>
                                <tr>
                                    <td class="point">•</td>
                                    <td class="tab-p">How Enterprise Agile Delivery can help your organization release frequent, high quality change</td>
                                </tr>
                            </table>
                        </columns>
                        <columns  small="12" large="4">
                            <container>
                                <spacer size="8"></spacer>
                            </container>
                            <p class="small-text-center"><a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/let-img.jpg" alt="item"></a></p>
                        </columns>
                    </row>
                </container>
                <container class="btn-align">
                    <row>
                        <columns>
                            <button href="#">To Download the White Paper »</button>
                        </columns>
                    </row>
                </container>
                <container class="btn-align">
                    <row>
                        <columns>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                            <p class="main-body-p text-left">Download our White Paper, <a href="#" class="basic-link"> Introducing Agility to Enterprise Applications</a> to learn how you can start releasing frequent, high-quality change today.</p>
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                            <p class="main-body-p text-left mb_n">Regards,</p>
                            <p class="main-body-p text-left">Panaya Team</p>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
            </center>
        </td>
    </tr>
</table>
</body>
</html>