<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <center>
                <container>
                    <spacer size="18"></spacer>
                </container>
                <container class="no-bg">
                    <row>
                        <columns large="12" class="custom-pb">
                            <p class="mb text-center text-sm"><a target="_blank" href="http://go.panaya.com/state-of-agile-at-scale-whitepaper.html?cid=7011r000001mS1h&utm_source=Dzone&utm_medium=eMail&utm_campaign=RDx_Forrester_EAD_Report" class="text-sm">[Download Complimentary Report]</a></p>
                        </columns>
                    </row>
                </container>
                <table class="container">
                    <tbody>
                    <tr>
                        <td>
                            <a target="_blank" href="http://go.panaya.com/state-of-agile-at-scale-whitepaper.html?cid=7011r000001mS1h&utm_source=Dzone&utm_medium=eMail&utm_campaign=RDx_Forrester_EAD_Report" class="link"><img src="http://go.panaya.com/rs/523-SVF-870/images/forrester-may-main-letter-2.jpg" alt="Panaya"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <container>
                    <spacer size="20"></spacer>
                </container>
                <container>
                    <row>
                        <columns>
                            <spacer size="10"></spacer>
                            <p class="main-body-p">Hi there,</p>
                            <spacer size="10"></spacer>
                            <p class="main-body-p">Software is driving Digital Transformation, and Agile makes it possible. Agile and DevOps are slowly but steadily helping Enterprise IT deliver applications and services faster, more frequently and with quality.</p>
                        </columns>
                    </row>
                </container>
                <container class="row_picture">
                    <row>
                        <columns small="12" large="7">
                            <spacer size="10"></spacer>
                            <p class="main-body-p"><a target="_blank" href="http://go.panaya.com/state-of-agile-at-scale-whitepaper.html?cid=7011r000001mS1h&utm_source=Dzone&utm_medium=eMail&utm_campaign=RDx_Forrester_EAD_Report" class="basic-link font_b">Read the 7 must-dos to achieve Enterprise Agility</a> by Diego Lo Giudice, Vice President, Principal Analyst at Forrester serving Application Development & Delivery professionals.</p>
                            <spacer size="10"></spacer>
                            <p class="main-body-p"><a target="_blank" href="http://go.panaya.com/state-of-agile-at-scale-whitepaper.html?cid=7011r000001mS1h&utm_source=Dzone&utm_medium=eMail&utm_campaign=RDx_Forrester_EAD_Report" class="basic-link font_b">Download the Forrester report, The State Of Agile 2017: Agile At Scale (December 2017)</a></p>
                            <spacer size="30"></spacer>
                            <container class="btn-align">
                                <button target="_blank" href="http://go.panaya.com/state-of-agile-at-scale-whitepaper.html?cid=7011r000001mS1h&utm_source=Dzone&utm_medium=eMail&utm_campaign=RDx_Forrester_EAD_Report">To Download the Report »</button>
                            </container>
                        </columns>
                        <columns  small="12" large="5">
                        <container>
                            <spacer size="8"></spacer>
                        </container>
                            <p class="small-text-center text-right"><a target="_blank" href="http://go.panaya.com/state-of-agile-at-scale-whitepaper.html?cid=7011r000001mS1h&utm_source=Dzone&utm_medium=eMail&utm_campaign=RDx_Forrester_EAD_Report" class="link"><img src="http://go.panaya.com/rs/523-SVF-870/images/forrester-may-let-img.jpg" alt="item"></a></p>
                        </columns>
                    </row>
                </container>
                <container class="btn-align">
                    <row>
                        <columns>
                            <spacer size="20"></spacer>
                            <p class="main-body-p text-left mb_n">Thank you,</p>
                            <spacer size="5"></spacer>
                            <p class="main-body-p text-left">Panaya</p>
                            <spacer size="30"></spacer>
                        </columns>
                    </row>
                </container>
            </center>
        </td>
    </tr>
</table>
</body>
</html>